@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    
}


/* navbar section */

.navbar{
    width: 1310px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar ul{
    list-style: none;
    display: flex;  
}
.navbar h3{
    font-size: 24px;
    font-weight: bold;
    color: rgba(58, 58, 58, 1);
}
.navbar a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
    margin-left: 60px;
}
.navbar li{
    transition: transform 1s;
}
.navbar li:hover{
    transform: scale(1.1);  
}
.navbar a:hover{
    color: rgba(224, 44, 109, 1);
}

/* main part */

/* section 1 */

.container1 {
    width: 1310px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.container1 img{
    background-image: url(/images/Circle\ design.svg);
   

    
}
.container1 h1{
    font-size: 52px;
    font-weight: bold;
    color: rgba(58, 58, 58, 1);
}
.container1 p{
    font-size: 16px;
    font-weight: 600;
}
.container1 button{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(224, 44, 109, 1);
    border: none;
    border-radius: 41px;
    width: 196px; height: 44px;
    cursor: pointer;
    transition: transform 0.6s;

}
.container1 button:hover{
    background-color: rgb(243, 51, 51);
    transform: scale(1.1)
}
 
/* section 2   */

.text{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
    margin-bottom: 30px;
}

.container2{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 1110px;
    height: 110px;
    margin: auto;
    margin-top: 100px;
    
   
}

/* section 3 */

.container3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 1247px; 
    height: 1662px;
    margin: auto;
    
}
.container3 .child:hover{
    transform: scale(1.1);
}


.child{
    width: 329px;
    height: 476px;
    padding: 20px 0px 20px 20px;
    box-shadow: 5px 5px 20px 6px rgb(218, 216, 216);
    border-radius: 10px;
    transition: transform 1.5s;
    cursor: pointer;
       
}
.child h3{
    font-size: 28px;
    color: rgba(24, 25, 31, 1);
    margin: 0%;
    margin-bottom: 10px;
}
.child h4{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px;
    margin-bottom: 20px;
}
.child span{
    
    font-weight: bold;
    color: rgba(94, 99, 102, 1);
}
.child p{
    font-weight: bold;
    color: rgba(120, 120, 133, 1);
}
.read{
    color: rgba(224, 44, 109, 0.87);
    width: 1175px;
    margin: auto;
    display: flex;
    justify-content: end;
}

/* section 4 */

.container4{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1310px;
    height: 270px;
    margin: auto;
    margin-top: 100px;
}
.container4 h1{
    font-size: 38px;
    font-weight: bold;
    color: rgba(10, 8, 38, 1);
}
.container4 p{
    font-size: 16px;
    font-weight: bold;
    color: rgba(108, 108, 108, 1);
}
.container4 button{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(224, 44, 109, 1);
    border: none;
    border-radius: 10px;
    width: 155px; height: 44px;
    cursor: pointer;
    transition: transform 0.6s;
}
.container4 button:hover{
    background-color: rgb(243, 51, 51);
    transform: scale(1.1)
    
}

/* footer section */

.footer {
    background-color: rgba(10, 8, 38, 1);
    height: 340px;
    margin-top: 100px;
}
.footer-child {
    text-align: center;
    padding-top: 60px;
}
.footer-child h3{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: bold;
}
.footer-child p{
    font-size: 14px;
    font-weight: bold;
    color: rgba(217, 219, 225, 1);
}
.images img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
    transition: transform 0.6s;
    filter: grayscale(100%);
}
.images img:hover{
    filter: grayscale(0%);
    transform: scale(1.5);

}